@model CSE_Hankers.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<div class="row container" style=" background-color: #e1e1e1;">

    <h4>Article</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="articleId" />
            <input type="hidden" asp-for="likes" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea id="MDDescription" rows="20" cols="60"
                          name="MDDescription" class="form-control">@Markdown.ParseHtmlString(Model.description)</textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <input asp-for="description" id="description" type="hidden" />
            <div class="form-group">
                <input type="submit" id="submitBtn" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row container" style=" background-color: #e1e1e1;">
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    <script type="text/javascript">

        // initialization of markdown editor with the custom toolbar
        let simpleMDE = new SimpleMDE({
            element: document.getElementById("MDDescription"),
            toolbar: ["bold", "italic", "heading", "preview"],
        });
        //simpleMDE.value("@Model.description");
        //document.getElementById("description").value = simpleMDE.value();

        $("#submitBtn").click(function validate() {
            console.log(simpleMDE.value());
            document.getElementById("description").value = simpleMDE.value();
        });

    </script>
}
