@{
    ViewData["Title"] = "Home Page";
    int articles = ViewBag.articles;
    Dictionary<ApplicationUser, int> userLikes = ViewBag.userLikes;
    int userLikesCount = ViewBag.userLikesCount;
}

<div class="container mt-4">
    <div class="row ml-1">
        <div class="col-sm-6">
            <div class="card shadow my-2 border-bottom" style=" background-color: #e1e1e1;">
                <div class="card-header">
                    Articles <span class="text-dark font-weight-bold">&nbsp;@articles</span>
                </div>
                <div class="card-body text-dark">
                    Total Articles Published by you
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-dark text-light" asp-action="Create" asp-controller="Article">Publish New Article</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            @{
                int count = 0;
            }
            <div class="card w-100 shadow my-2 border-bottom" style=" background-color: #e1e1e1;">
                <div class="card-header">
                    Most Liked Users
                </div>
                <div class="card-body text-dark">
                    <table class="table table-striped pl-3 pr-3">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th class="pl-5">Article Likes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KeyValuePair<ApplicationUser, int> kvp in userLikes)
                            {
                            @if (count > userLikesCount)
                                {
                                    break;
                                }
                                else
                                {
                                    count = count + 1;
                                }

                                <tr>
                                    <td>
                                        <a style="text-decoration:none;" class="text-dark" asp-action="Profile" asp-controller="Account" asp-route-username="@kvp.Key.UserName">
                                            @kvp.Key.name
                                        </a>
                                    </td>
                                    <td class="pl-5">@kvp.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>