@model IEnumerable<CSE_Hankers.Models.UserFollowing>

@{
    ViewData["Title"] = "FollowedUsers";
}

<h1>FollowedUsers</h1>


<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.follower.UserName</td>
            <td>@item.follower.name</td>
            <td>
                <a class="btn btn-danger rounded-pill" asp-action="Unfollow" asp-route-username="@item.follower.UserName">Unfollow</a> |
            </td>
        </tr>
}
    </tbody>
</table>
