@model IEnumerable<CSE_Hankers.Models.ApplicationUser>

@{
    ViewData["Title"] = "users";
}

<h1>users</h1>

<a asp-action="Followed" class="btn btn-success rounded-pill">Followed Users</a>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.UserName</td>
            <td>@item.name</td>
            <td>
                <a class="btn btn-success rounded-pill" asp-action="Follow" asp-route-username="@item.UserName">Follow</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
