@model UpdateUser

@{
    ViewBag.Title = "Edit Profile";
    var photoPath = "~/Images/Profiles/" + (Model.existingPhotoPath ?? "default.png");
}

<form asp-controller="Account" asp-action="UpdateProfile" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="text-danger">

    </div>
    <input hidden asp-for="id" />
    <input hidden asp-for="existingPhotoPath" />
    <input hidden asp-for="email" />
    <div class="form-group row">
        <label asp-for="name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="name" class="form-control" placeholder="Name" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="mobile" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="mobile" class="form-control" placeholder="Mobile number" />
            <span asp-validation-for="mobile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="organization" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="organization" class="form-control" placeholder="Organization" />
            <span asp-validation-for="organization" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="photoPath" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="photoPath" class="custom-file-input form-control" placeholder="Photo" />
                <label class="custom-file-label">Click here to change photo</label>
            </div>
        </div>
    </div>

    <div class="form-group row col-sm-4 offset-4">
        <img class="img-thumbnail" src="@photoPath" asp-append-version="true" />
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-action="Profile" asp-controller="Account" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>

@* required for displaying selected file name in the file box*@
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            });
        });
    </script>
}